# Jekyll
_site/
.jekyll-cache/
.jekyll-metadata

# Sass
.sass-cache/

# Thumbnails (generated during build)
assets/images/thumbs/

# Slides (local development only)
_slides/
04-slides.html

# Others
.DS_Store