<nav class="sidebar-nav">
  <span class="sidebar-nav-item">分类导航</span>

  {% for main_cat_entry in site.data.collection_structure %}
    {% assign main_cat_name = main_cat_entry[0] %}
    {% assign sub_cats = main_cat_entry[1] %}
    <div class="collapsible-menu">
      <button class="collapsible">{{ main_cat_name | upcase }}</button>
      <div class="content">
        {% for sub_cat_entry in sub_cats %}
          {% assign sub_cat_name = sub_cat_entry[0] %}
          {% assign sub_sub_cats = sub_cat_entry[1] %}
          <div class="collapsible-menu nested">
            <button class="collapsible">{{ sub_cat_name | capitalize }}</button>
            <div class="content">
              {% for sub_sub_cat_entry in sub_sub_cats %}
                {% assign sub_sub_cat_name = sub_sub_cat_entry[0] %}
                <a href="#{{ main_cat_name | slugify }}-{{ sub_sub_cat_name | slugify }}">{{ sub_sub_cat_name | replace: '_', ' ' | capitalize }}</a>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</nav>